html, body, pusher {
  background: #eee;
}

.single.line {
  white-space: nowrap;
}

.sticky-action-button {
  position: fixed;
  bottom: 15px;
  right: 0px;
}

@media screen and (max-width: 767px) {
  /* MOBILE */
  .mobile.hidden {display: none !important;}
}

@media screen and (min-width: 768px) {
  /* TABLET */
  .tablet.hidden {display: none !important;}
}

@media screen and (min-width: 992px) {
  /* COMPUTER */
  .computer.hidden {display: none !important;}
}
