
  <table class="ui table striped hidden mobile">
    <thead>
      <tr>
        <th>Datum</th>
        <th>Tijd</th>
        <th>Thuisploeg</th>
        <th>Bezoekers</th>
        <th>Score</th>
        <th>Sporthal</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="game in team.games | orderBy: '-jsDTCode':true" ng-class="{positive: isVictory(game)}">
        <td class="single line">
          <span class="hidden tablet computer"><i class="icon calendar"></i></span>
          {{game.datumString}}
        </td>
        <td class="single line">
          <span class="hidden tablet computer"><i class="icon clock"></i></span>
          {{game.beginTijd}}u</td>
        <td>
          <span class="hidden tablet computer"><i class="icon building"></i></span>
          <a ui-sref="team.calendar({teamGuid: game.tTGUID})">{{shortenTeamName(game.tTNaam)}}</a>
        </td>
        <td>
          <span class="hidden tablet computer"><i class="icon building outline"></i></span>
          <a ui-sref="team.calendar({teamGuid: game.tUGUID})">{{shortenTeamName(game.tUNaam)}}</a>
        </td>
        <td class="single line">
          <span class="hidden tablet computer"><i class="icon trophy"></i></span>
          {{game.uitslag}}
        </td>
        <td>
          <span class="hidden tablet computer"><i class="icon marker"></i></span>
          <a href="{{createGoogleMapsLink(game.accNaam)}}" target="_blank">
            {{game.accNaam}}
          </a>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="ui one column grid hidden tablet desktop">
    <div class="column">
      <div class="ui fluid card" ng-repeat="game in team.games | orderBy: '-jsDTCode':true">

        <div class="content">
          <div class="header">
            <a ui-sref="team.kalendar({teamGuid: getOpponentId(game)})">{{shortenTeamName(getOpponent(game))}}</a>
          </div>

          <div class="meta">
            <div class="ui horizontal list">
              <div class="item">
                <i class="calendar icon"></i>
                <div class="content">
                  {{getDayNl(toDate(game.beginTijd)).substr(0,2)}}
                  {{game.datumString}}
                </div>
              </div>
              <div class="item">
                <i class="clock icon"></i>
                <div class="content">
                  {{game.beginTijd}}u
                </div>
              </div>
            </div>
          </div>

          <div class="description">
            <div class="ui list">
              <div class="item">
                <i class="marker icon"></i>
                <div class="content">
                  {{game.accNaam}}
                </div>
              </div>
            </div>
          </div>

          <div ng-if="hasScore(game)" ng-class="{olive: isVictory(game)}" class="ui bottom right attached label">{{game.uitslag}}</div>
        </div>

      </div>
    </div>
  </div>
