<div class="container">

  <div class="ui" ng-if="!isLoadingData">
    <div class="ui active dimmer inverted">
      <div class="ui loader"></div>
    </div>
  </div>
  <h1 class="ui header">
    <div class="content">
      <i class="icon star link" ng-click="toggleFavorite(team)" ng-class="{empty: !isFavorite}"></i>
      {{team.poule}}
    </div>
  </h1>

  <div class="ui secondary pointing menu">
    <a class="item" ui-sref-active="active" ui-sref="team.calendar({teamGuid: team.guid})">
      <i class="calendar icon"></i> Kalender
    </a>
    <a class="item" ui-sref-active="active" ui-sref="team.rankings({teamGuid: team.guid})">
      <i class="trophy icon"></i>
      Klassement
    </a>
    <!-- <a class="item" ui-sref-active="active">
      <i class="users icon"></i>
      Leden
    </a> -->
  </div>

  <div ui-view></div>
</div>
